ion-item.main-item {
  ion-thumbnail {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
  }
}

ion-item.sub-item {
  ion-thumbnail {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.5rem;
  }
}

ion-item {
  // --color: #FF0;

  ion-radio {
    margin-right: 1rem;
  }
}




