<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ein Dank an ...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary"><a href="https://www.openstreetmap.de/" target="_blank">Openstreetmap</a></ion-text>
      </h1>
      <p>
        <ion-text color="primary">OpenStreetMap: Freie Karten und freie Kartendaten</ion-text>
      </p>
      <p>
        Die Karten und die Daten aller POIs stammen von Openstreetmap (OSM). Ohne diese Daten wäre diese Seite nicht möglich. Beteilige auch du dich an der freien Wiki-Weltkarte.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary"><a href="https://wikimediafoundation.org/" target="_blank">Wikimedia Foundation</a></ion-text>
      </h1>
      <p>
        <ion-text color="primary">Die gemeinnützige Gesellschaft, die freies Wissen und freie Inhalte fördert.</ion-text>
      </p>
      <ul>
        <li><a href="https://de.wikipedia.org" target="_blank">Wikipedia:</a> Die freie Online-Enzyklopädie</li>
        <li><a href="https://www.wikidata.org" target="_blank">Wikidata:</a> Die freie Wissensdatenbank</li>
        <li><a href="https://commons.wikimedia.org" target="_blank">Wikimedia Commons:</a> Die freie Sammlung von Bildern, Videos und Audiodateien</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary"><a href="https://ionicframework.com/" target="_blank">Leaflet</a></ion-text>
      </h1>
      <p>
        <ion-text color="primary">JavaScript-Karten für die eigene Webseite.</ion-text>
      </p>
      <p>
        Mit der freien JavaScript-Bibliothek Leaflet kann man einfach interaktive Karten in die eigene Webseite integrieren.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary"><a href="https://ionicframework.com/" target="_blank">Ionic (Framework)</a></ion-text>
      </h1>
      <p>
        <ion-text color="primary">Hübsche Apps mit Ionic erstellen.</ion-text>
      </p>
      <p>
        Mit dem Open-Source-Webframework Ionic können Entwickler einfach Hybrid-Apps und Progressive Web Apps mit HTML, CSS und JavaScript erstellen.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary"><a href="https://market.ionicframework.com/themes/ionic4-start-theme/" target="_blank">Ionic 4 Start Theme</a></ion-text>
      </h1>
      <p>
        <ion-text color="primary">Wunderbares Design für eine Ionic-App.</ion-text>
      </p>
      <p>
        Hübsches freies Design für eine Ionic-App, dessen Quellcode bei <a href="https://github.com/ionictheme/ionic4-start-theme" target="_blank">GitHub</a> herunterladbar ist.
        Der Designer bietet erweiterte Designs für geringes Geld an.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary"><a href="https://mapicons.mapsmarker.com" target="_blank">Map Icons Collection</a></ion-text>
      </h1>
      <p>
        <ion-text color="primary">Tausende freie Icons für Karten.</ion-text>
      </p>
      <p>
        Map Icons Collection <a href="https://mapicons.mapsmarker.com" target="_blank">https://mapicons.mapsmarker.com</a> von Nicolas Mollet.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
