<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button [disabled]="searchActive" class="hide-label-md sortSelectionButton" fill="outline" shape="round">
      <ion-icon name="filter-outline" size="small"></ion-icon>
      <ion-select class="sortSelectionPanel" interface="popover" value="{{ selectedSort }}" (ionChange)="updateSelectedSort($event)" data-cy="buttonSort">
        <ion-select-option *ngFor="let sortType of sortTypes()" value="{{sortType[0]}}">{{sortType[1]}}</ion-select-option>
      </ion-select>
    </ion-button>
  </ion-buttons>
  <ion-searchbar
    [disabled]="searchActive"
    placeholder="Filtere Ergebnisse"
    search-icon="funnel-outline"
    (ionInput)="updateFilterValue($event)"
    data-cy="searchbarFilter">
  </ion-searchbar>
</ion-toolbar>
