<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col data-cy="columnCategories">
        <div class="ion-text-start">
          <ion-item *ngFor="let category of poi.categories">
            <ion-thumbnail>
              <img src="{{ 'assets/category/' + category.toLowerCase() + '.png'}}" alt="{{ category }}">
            </ion-thumbnail>
            <ion-label>{{ category }}</ion-label>
          </ion-item>
        </div>
      </ion-col>
      <ion-col data-cy="columnAttributes">
        <div class="ion-text-end">
          <ion-chip data-cy="chipOverviewCuisine" *ngFor="let cuisine of poi.attributes.cuisine.values; let i = index">
            <ion-icon name="restaurant-outline" color="primary"></ion-icon>
            <ion-label>{{cuisine}}</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewOpeningHours" *ngIf="poi.attributes.openingHours">
            <ion-icon name="time-outline" color="primary"></ion-icon>
            <ion-label>{{poi.attributes.openingHours}}</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewVending" *ngIf="poi.attributes.vending">
            <ion-icon name="scale-outline" color="primary"></ion-icon>
            <ion-label>{{poi.attributes.vending}}</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewIsBar" *ngIf="poi.attributes.isBar">
            <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
            <ion-label>Bar</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewIsCafe" *ngIf="poi.attributes.isCafe">
            <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
            <ion-label>Cafe</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewIsBuilding" *ngIf="poi.attributes.isBuilding">
            <ion-icon name="checkmark-circle-outline" color="primary"></ion-icon>
            <ion-label>Gebäude</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewDistance" *ngIf="poi.ownPosition">
            <ion-icon name="navigate-circle-outline" color="primary" class="rotate-{{poi.ownPosition.direction.toString()}}"></ion-icon>
            <ion-label>{{poi.ownPosition.distance}} km</ion-label>
          </ion-chip>
          <ion-chip data-cy="chipOverviewRelevance">
            <ion-icon name="cellular-outline" color="primary"></ion-icon>
            <ion-label>{{poi.relevance}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
