<ion-header>
  <app-discover-search-toolbar
    [numberOfFilterResults]="filteredPois.length"
    [numberOfSearchResults]="allPois.length"
    [searchAttributes]="searchAttributes"
    [searchActive]="searchActive"
    (searchUpdated)="executeSearch($event)">
  </app-discover-search-toolbar>

  <app-discover-filter-toolbar
    [searchActive]="searchActive"
    (selectedSortUpdated)="updateSelectedSort($event)"
    (filterValueUpdated)="updateFilterValue($event)">
  </app-discover-filter-toolbar>
</ion-header>

<ion-content>
  <app-discover-list
    [pois]="filteredPois"
    data-cy="componentDiscoverList">
  </app-discover-list>
</ion-content>
