<ion-header>
  <app-discover-search-toolbar
    [numberOfFilterResults]="filteredPois.length"
    [numberOfSearchResults]="allPois.length"
    [searchAttributes]="searchAttributes"
    [searchActive]="searchActive"
    (searchUpdated)="executeSearch($event)"
    (resultViewTypeUpdated)="changeView($event)"
    data-cy="componentDiscoverSearchToolbar">
  </app-discover-search-toolbar>

  <app-discover-filter-toolbar
    [filterValue]="filterValue"
    [searchActive]="searchActive"
    (selectedSortUpdated)="updateSelectedSort($event)"
    (filterValueUpdated)="updateFilterValue($event)">
  </app-discover-filter-toolbar>
</ion-header>

<ion-content>
  <app-discover-map
    *ngIf="resultViewType === 'MAP'"
    [pois]="filteredPois"
    [searchAttributes]="searchAttributes"
    [selectedPoiText]="selectedPoiText"
    (selectPreviousPoiOutput)="selectPreviousPoi()"
    (selectNextPoiOutput)="selectNextPoi()"
    data-cy="componentDiscoverMap">
  </app-discover-map>
  <app-discover-list
    *ngIf="resultViewType === 'LIST'"
    [pois]="filteredPois"
    data-cy="componentDiscoverList">
  </app-discover-list>
</ion-content>

<ion-footer
  *ngIf="resultViewType === 'MAP'">
  <app-discover-poi-detail-toolbar
    [poi]="selectedPoi"
    data-cy="componentDiscoverPoiDetailToolbar">
  </app-discover-poi-detail-toolbar>
</ion-footer>
