<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meine POIs</ion-title>
  </ion-toolbar>

  <app-discover-filter
    [searchAttributes]="searchAttributes"
    [searchActive]="searchActive"
    (selectedSortUpdated)="updateSelectedSort($event)"
    (filterValueUpdated)="updateFilterValue($event)"
    (searchUpdated)="executeSearch($event)">
  </app-discover-filter>
</ion-header>

<ion-content>
  <app-discover-list
    [pois]="pois"
    data-cy="componentDiscoverList">
  </app-discover-list>
</ion-content>
