ion-button.categorySelection {

  ion-thumbnail {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 0;
    margin-right: 0;
  }

  ion-label {
    margin-left: 0.6rem;
  }

  ion-icon {
    width: 0.75rem;
    height: 0.75rem;
    opacity: 0.33;
  }
}
