<ion-header>
  <app-poi-navigation-toolbar
    [poi]="poi"
    [hasNextPoi]="hasNextPoi"
    [hasPreviousPoi]="hasPreviousPoi"
    [navigatorLabel]="navigatorLabel"
    [showNavigationButtons]="showNavigationButtons"
    (navigateBack)="navigateBack()"
    (selectPreviousPoi)="selectPreviousPoi()"
    (selectNextPoi)="selectNextPoi()">
  </app-poi-navigation-toolbar>
</ion-header>

<ion-content padding *ngIf="poi">

  <ion-card>
    <app-poi-overview
      [poi]="poi">
    </app-poi-overview>
  </ion-card>

  <ion-card>
    <app-poi-map
      [poi]="poi"
      [searchCenter]="searchCenter">
    </app-poi-map>
  </ion-card>

  <ion-card>
    <app-poi-contact
      [poi]="poi">
    </app-poi-contact>
  </ion-card>

  <ion-card>
    <app-poi-references
      [poi]="poi">
    </app-poi-references>
  </ion-card>

  <ion-card data-cy="cardOsmTags">
    <app-poi-osm-tags
      [poi]="poi">
    </app-poi-osm-tags>
  </ion-card>

  <ion-card data-cy="cardRawData">
    <app-poi-raw-data
      [poi]="poi">
    </app-poi-raw-data>
  </ion-card>

</ion-content>
