<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kontakt / Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary">Kontakt</ion-text>
      </h1>
      <p margin-bottom><br>
        Softwareentwicklung<br>
        Andreas Bruns<br>
        Im Delmegrund 10<br>
        27243 Harpstedt<br>
      </p>
      <p margin-bottom><br>
        Telefon: 0179/4877005<br>
        E-Mail: info[-at-]andreas-bruns.com
      </p>
      <p margin-bottom><br>
        Website: <a href="https://andreas-bruns.com">https://andreas-bruns.com</a>
      </p>
      <p margin-bottom><br>
        Blog: <a href="https://andreas-bruns.com/blog">https://andreas-bruns.com/blog</a>
      </p>
      <p margin-bottom><br>
        XING: <a href="https://www.xing.com/profile/Andreas_Bruns6">https://www.xing.com/profile/Andreas_Bruns6</a>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-white">
    <ion-card-content>
      <h1>
        <ion-text color="primary">Impressum</ion-text>
      </h1>
      <p margin-bottom><br>
        Andreas Bruns<br>
        Im Delmegrund 10<br>
        27243 Harpstedt<br>
      </p>
      <p margin-bottom><br>
        Telefon: 0179/4877005<br>
        E-Mail: info[-at-]andreas-bruns.com
      </p>
      <p margin-bottom><br>
        Umsatzsteuer-Identifikationsnummer gem. § 27a UStG: DE280069100
      </p>
      <p margin-bottom><br>
        Inhaltlich Verantwortlicher gem. § 55 II RStV: Andreas Bruns (Anschrift s.o.)
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
