<ion-item>
  <ion-thumbnail (click)='navigateTo(poi)'>
    <img src="{{ 'assets/category/' + poi.categories[0].toLowerCase() + '.png'}}">
  </ion-thumbnail>
  <ion-label (click)='navigateTo(poi)'>  <!-- TODO routerLink ausprobieren wie im Buch -->
    <h3 data-cy=detailToolbarLabelCategory>{{poi.categories[0]}}</h3>
    <p data-cy=detailToolbarLabelName>{{poi.name}}</p>
  </ion-label>
  <ion-label slot="end" class="poibee-chip-section">
    <div class="ion-text-end">
      <ion-chip data-cy="chipDistance" *ngIf="poi.ownPosition" class="poibee-chip-distance">
        <ion-icon name="navigate-circle-outline" color="primary" class="rotate-{{poi.ownPosition.direction.toString()}}" data-cy="chipDirection"></ion-icon>
        <ion-label>{{poi.ownPosition.distance}}&nbsp;km</ion-label>
      </ion-chip>
    </div>
    <div class="ion-text-end">
      <ion-chip data-cy="chipWebsite" *ngIf="poi.contact.website" id="click-trigger-website-{{index}}">
        <ion-icon name="home-outline" color="primary"></ion-icon>
        <ion-label class="ion-hide-sm-down">Webseite</ion-label>
        <ion-popover data-cy="popoverChipWebsite" trigger="click-trigger-website-{{index}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-chip>
                <ion-icon name="home-outline" color="primary"></ion-icon>
                <a href="{{poi.contact.website}}" target="_blank">{{poi.contact.website}}</a>
              </ion-chip>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-chip>
      <ion-chip data-cy="chipWikipedia" *ngIf="poi.references.wikipediaUrl" id="click-trigger-wikipedia-{{index}}">
        <ion-icon name="library-outline" color="primary"></ion-icon>
        <ion-label class="ion-hide-sm-down">Wikipedia</ion-label>
        <ion-popover data-cy="popoverChipWikipedia" trigger="click-trigger-wikipedia-{{index}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-chip>
                <ion-icon name="library-outline" color="primary"></ion-icon>
                <a href="{{poi.references.wikipediaUrl}}" target="_blank">{{poi.references.wikipediaUrl}}</a>
              </ion-chip>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-chip>
      <ion-chip data-cy="chipWikidata" *ngIf="poi.references.wikidataUrl" id="click-trigger-wikidata-{{index}}">
        <ion-icon name="library-outline" color="primary"></ion-icon>
        <ion-label class="ion-hide-sm-down">Wikidata</ion-label>
        <ion-popover data-cy="popoverChipWikidata" trigger="click-trigger-wikidata-{{index}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-chip>
                <ion-icon name="library-outline" color="primary"></ion-icon>
                <a href="{{poi.references.wikidataUrl}}" target="_blank">{{poi.references.wikidataUrl}}</a>
              </ion-chip>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-chip>
      <ion-chip data-cy="chipCuisine" *ngIf="poi.attributes.cuisine.isPresent()" id="click-trigger-cuisine-{{index}}">
        <ion-icon name="restaurant-outline" color="primary"></ion-icon>
        <ion-label class="ion-hide-sm-down">{{poi.attributes.cuisine.previewValue()}}</ion-label>
        <ion-popover trigger="click-trigger-cuisine-{{index}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-chip data-cy="popoverChipCuisine">
                <ion-icon name="restaurant-outline" color="primary"></ion-icon>
                <ion-label>{{poi.attributes.cuisine.completeValue()}}</ion-label>
              </ion-chip>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-chip>
      <ion-chip data-cy="chipOpeningHours" *ngIf="poi.attributes.openingHours" id="click-trigger-openingHours-{{index}}">
        <ion-icon name="time-outline" color="primary"></ion-icon>
        <ion-label class="ion-hide-sm-down">Zeiten</ion-label>
        <ion-popover trigger="click-trigger-openingHours-{{index}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-chip data-cy="popoverChipOpeningHours">
                <ion-icon name="time-outline" color="primary"></ion-icon>
                <ion-label>{{poi.attributes.openingHours}}</ion-label>
              </ion-chip>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-chip>
      <ion-chip data-cy="chipVending" *ngIf="poi.attributes.vending" id="click-trigger-vending-{{index}}">
        <ion-icon name="scale-outline" color="primary"></ion-icon>
        <ion-label class="ion-hide-sm-down">Verkauf</ion-label>
        <ion-popover trigger="click-trigger-vending-{{index}}" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-chip data-cy="popoverChipVending">
                <ion-icon name="scale-outline" color="primary"></ion-icon>
                <ion-label>{{poi.attributes.vending}}</ion-label>
              </ion-chip>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-chip>
    </div>
  </ion-label>
</ion-item>
