ion-header ion-label {
  --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
  --color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.87);
}

ion-item > ion-label {
  margin-top: 2px;
  margin-bottom: 2px;
}

ion-thumbnail {
  width: 40px;
  height: 40px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 8px;
}

.poibee-chip-section {
  margin-left: 0;

  ion-label {
    font-size: smaller;
  }

  ion-chip {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 18px;
  }

  ion-icon {
    font-size: 15px;
  }

  .poibee-chip-distance:hover {
    cursor: default;
  }
}

ion-icon.rotate-northeast {
  transform: rotate(0deg);
}

ion-icon.rotate-east {
  transform: rotate(45deg);
}

ion-icon.rotate-southeast {
  transform: rotate(90deg);
}

ion-icon.rotate-south {
  transform: rotate(135deg);
}

ion-icon.rotate-southwest {
  transform: rotate(180deg);
}

ion-icon.rotate-west {
  transform: rotate(225deg);
}

ion-icon.rotate-northwest {
  transform: rotate(270deg);
}

ion-icon.rotate-north {
  transform: rotate(315deg);
}
