// Leaflet search field has a transparent color
.leaflet-control-geocoder {
  .leaflet-control-geocoder-form {
    input {
      color: black;
    }
  }
}

.poiNavigatorLeafletControl {
  display: inline-block !important;
  float: none !important;

  &.noMarginRight {
    margin-right: -2px;
  }

  &.adjustMarginBottom {
    margin-bottom: -12.5px;
  }

  .labelControl {
    width: 70px !important;
  }
}
